<div class="flex flex-col min-w-[300px] min-h-[200px] bg-white p-7 border-1 rounded-xl ">
  <% image_tag "image1.png" %>
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>
  <strong> Cover Image :</strong>
  <% if article.cover_image.attached? %>
    <%= image_tag article.cover_image %>
  <% else %>
    No cover image
  <% end %>
  <%= link_to "Show this article", article %>
</div>
