<p style="color: green"><%= notice %></p>
<div class="container p-10">
  <div>
    <div class="text-2xl font-bold text-center">Articles</div>
  </div>
  <div id="articles" class="flex grid-col gap-10 items-center justify-center mt-20">
      <% @articles.each do |article| %>
        <%= render article %>
      <% end %>
  </div>
</div>